@import url(https://fonts.googleapis.com/css?family=Roboto);

.body {
  font-family: Roboto, sans-serif;
}

#chartVendasPorDia, #chartQtVendasItems {
  max-width: 800px;
  margin: 35px auto;
}

.card {
  width: 100%;
}
