<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Produtos</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>

            <input type="text" class="form-control" id="nome" placeholder="Nome" >

          </th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{employee.nome}}</td>
          <td>{{employee.descricao}}</td>
          <td>{{employee.preco}}</td>
          <td><button (click)="deleteEmployee(employee.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    
  </div>
</div>

