body {
  background-color: black !important;
}

.card {
  width: 100%;
}

.container-titulo {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.container-colunas {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.divisor-vertical {
  border-right: 1px solid rgba(128, 128, 128, 0.5);
}