<div class="card">
    <div class="card-header">
      <div class="float-left">
        <h4>Lista de Pedidos</h4>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-secondary" (click)="onRefresh()" >Atualizar Lista</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered" *ngIf="produto$ | async as produtos; else loadingError" >
        <thead>
          <tr>
            <th style="text-align:center">#</th>
            <th style="text-align:center">Produto</th>
            <th style="text-align:center">Valor</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let produto of produtos" >
            <td style="width:1%">{{ produto.id }}</td>
            <td style="width:10%">{{ produto.nome }}</td>
            <td style="width:17%">{{ produto.preco }}</td>
          </tr>
        </tbody>
      </table>
  
      <ng-template #loadingError>
        <div *ngIf="error$ | async; else loading" >
          Erro ao carregar pedidos. Tente novamente mais tarde.
        </div>
        <ng-template #loading>
            <span>Carregando Pedidos...</span>
        </ng-template>
      </ng-template>
    </div>
  </div>