<div class="card">
  <div class="card-header">
    <div class="container-titulo">
      <h4>Produtos</h4>
      <button type="button" class="btn btn-success" (click)="salvarModificao()">Salvar</button>
    </div>

  </div>
  <div class="card-body">
    <div class="container-colunas">
      <app-tabela-produto [nomeDaTabela]="'Hambúrgueres'" [listaDeProdutos]="dados.listHamburguer"></app-tabela-produto>
      <app-tabela-produto [nomeDaTabela]="'Combos e Outros'" [listaDeProdutos]="dados.listOutros"></app-tabela-produto>
    </div>

    <div class="container-colunas">
      <app-tabela-produto [nomeDaTabela]="'Bebidas'" [listaDeProdutos]="dados.listBebidas"></app-tabela-produto>
      <app-tabela-produto [nomeDaTabela]="'Shakes e Açaí'" [listaDeProdutos]="dados.listShakes"></app-tabela-produto>
    </div>
  </div>
</div>