<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h4>Realizar Pedidos</h4>
    </div>
  </div>
  <div class="card-body">
    <form id="f" #f="ngForm" ngForm (ngSubmit)="onSubmit(f)" class="form-horizontal">
      <div class="form-group" [ngClass]="aplicaCssErro(nome)">
        <div class="col-sm-12">
        </div>
        <div class="row">
          <div class="col-sm-10">
            <ng-select placeholder="Cliente" id="clientes" [items]="clientes" bindLabel="nome" required #searchBar
              (change)="searchBar.blur()" (change)="setCliente($event,f)"></ng-select>
          </div>

          <div class="col-md-1 text-center">
            <br>
            <button type="button" class="btn btn-success" (click)="clienteAction(f)"
              [disabled]="!f.valid">{{buttonNameClienteAction}}</button>
          </div>
          <div class="col-md-1 text-center">
            <br>
            <button type="button" class="btn btn-secondary" (click)="limparCliente(f)">Limpar</button>
          </div>
        </div>
      </div>

      <div ngModelGroup="cliente">

        <div class="form-group">
        </div>

        <div class="row">
          <div class="col-md-5">
            <label for="nome" class="control-label">Nome Cliente*</label>
            <input type="text" class="form-control" id="nome" name="nome" ngModel #nome="ngModel" required
              maxlength="255">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(nome)" msgErro="Nome é obrigatório.">
            </app-campo-control-erro>
          </div>
          <div class="col-md-5">
            <label for="rua" class="control-label">Rua*</label>
            <input type="text" class="form-control" id="rua" name="rua" ngModel #rua="ngModel" required maxlength="255">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(rua)" msgErro="Rua é obrigatório.">
            </app-campo-control-erro>
          </div>

          <div class="col-md-1">
            <label for="numCasa" class="control-label">Número</label>
            <input type="text" class="form-control" id="numCasa" name="numCasa" ngModel #numCasa="ngModel"
              maxlength="5">
          </div>

          <div class="col-md-1">
            <label for="id" class="control-label">ClienteID</label>
            <input type="text" class="form-control" id="id" name="id" ngModel #numero="ngModel" readonly>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <label for="bairro" class="control-label">Bairro</label>
              <input type="text" class="form-control" id="bairro" name="bairro" ngModel #bairro="ngModel"
                maxlength="255">
            </div>

            <div class="col-md-2">
              <label for="telefone" class="control-label">Telefone</label>
              <input type="text" class="form-control" id="telefone" name="telefone" ngModel #telefone="ngModel"
                [textMask]="{mask: maskPhone}" placeholder="(99) 9 9999-9999">

              <app-campo-control-erro [mostrarErro]="verificaValidTouched(telefone)" msgErro="Tel. obrigatório.">
              </app-campo-control-erro>
            </div>

            <div class="col-md-7">
              <label for="pontoReferencia" class="control-label">Ponto de Referência</label>
              <input type="text" class="form-control" id="pontoReferencia" name="pontoReferencia" ngModel
                #pontoReferencia="ngModel" maxlength="255">
            </div>
          </div>
        </div>
      </div>
      <font size="1">*Campos Obrigatórios</font>
      <hr>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
          <button type="button" class="btn btn-primary" (click)="novaVenda(f)">Realizar Nova Venda</button>
        </div>
      </div>
      <hr>
      <font size="4">
        <div class="row">
          <div class="col-md-2">

            <b>TOTAL:</b> R$
            <label
              id="total">{{setTotal(adicional.value, crispy.value, cheddarMelt.value, prime.value, tradicional.value, canadense.value, original.value, australiano.value, cheddarSimples.value, cheddarDuplo.value, onions.value, comboRefri.value, comboCerveja.value, batata.value, batataCheddar.value, refrigerante.value)}}</label>
          </div>

          <div class="col-md-1" style="border-right: 1px solid">

          </div>

          <div class="col-md-6">
               <b>Entrega:  </b>
            <input type="radio" id="cidade" name="entrega" value="Cidade" checked (click)="setEntrega(1)"> 
            <label for="cidade">Cidade (R$ 1,00)</label>   -   
            <input type="radio" id="zonaRural" name="entrega" value="Zona Rural" (click)="setEntrega(2)"> 
            <label for="zonaRural">Zona Rural (R$ 2,00)</label>   -   
            <input type="radio" id="gratis" name="entrega" value="Grátis" (click)="setEntrega(0)"> 
            <label for="gratis">Grátis</label>
          </div>

          <div class="col-md-1" style="border-left: 1px solid">

          </div>

          <div class="col-md-2">
            <div class="form-check">
              <input type="checkbox" style="margin-top: .5rem;" class="form-check-input" id="checkCartao"
                (click)="checkCartao()">
              <label class="form-check-label" for="checkCartao">Cartão</label>
            </div>
          </div>
        </div>
      </font>
      <hr>

      <div ngModelGroup="itemsVenda">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="tradicional" class="control-label">Deck Tradicional</label>
              <input type="number" class="form-control" id="tradicional" min="0" value="0" placeholder="0"
                name="tradicional" ngModel #tradicional="ngModel">
            </div>

            <div class="col-md-2">
              <label for="canadense" class="control-label">Deck Canadense</label>
              <input type="number" class="form-control" id="canadense" min="0" value="0" placeholder="0"
                name="canadense" ngModel #canadense="ngModel">
            </div>

            <div class="col-md-2">
              <label for="original" class="control-label">Deck Original</label>
              <input type="number" class="form-control" id="original" min="0" value="0" placeholder="0" name="original"
                ngModel #original="ngModel">
            </div>

            <div class="col-md-2">
              <label for="australiano" class="control-label">Deck Australiano</label>
              <input type="number" class="form-control" id="australiano" min="0" value="0" placeholder="0"
                name="australiano" ngModel #australiano="ngModel">
            </div>

            <div class="col-md-2">
              <label for="cheddarSimples" class="control-label">Deck Cheddar Simples</label>
              <input type="number" class="form-control" id="cheddarSimples" min="0" value="0" placeholder="0"
                name="cheddarSimples" ngModel #cheddarSimples="ngModel">
            </div>

            <div class="col-md-2">
              <label for="cheddarDuplo" class="control-label">Deck Cheddar Duplo</label>
              <input type="number" class="form-control" id="cheddarDuplo" min="0" value="0" placeholder="0"
                name="cheddarDuplo" ngModel #cheddarDuplo="ngModel">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-2">
              <label for="crispy" class="control-label">Deck Crispy</label>
              <input type="number" class="form-control" id="crispy" min="0" value="0" placeholder="0" name="crispy"
                ngModel #crispy="ngModel">
            </div>

            <div class="col-md-2">
              <label for="cheddarMelt" class="control-label">Deck cheddarMelt</label>
              <input type="number" class="form-control" id="cheddarMelt" min="0" value="0" placeholder="0"
                name="cheddarMelt" ngModel #cheddarMelt="ngModel">
            </div>

            <div class="col-md-2">
              <label for="prime" class="control-label">Deck prime</label>
              <input type="number" class="form-control" id="prime" min="0" value="0" placeholder="0" name="prime"
                ngModel #prime="ngModel">
            </div>

            <div class="col-md-2">
              <label for="adicional" class="control-label">Valor Adicional</label>
              <input type="number" class="form-control" id="adicional" min="0" value="0" placeholder="0"
                name="adicional" ngModel #adicional="ngModel">
            </div>

          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="onions" class="control-label">Onions</label>
              <input type="number" class="form-control" id="onions" min="0" value="0" placeholder="0" name="onions"
                ngModel #onions="ngModel">
            </div>

            <div class="col-md-2">
              <label for="comboRefri" class="control-label">Combo de Refri</label>
              <input type="number" class="form-control" id="comboRefri" min="0" value="0" placeholder="0"
                name="comboRefri" ngModel #comboRefri="ngModel">
            </div>

            <div class="col-md-2">
              <label for="comboCerveja" class="control-label">Combo de Cerveja</label>
              <input type="number" class="form-control" id="comboCerveja" min="0" value="0" placeholder="0"
                name="comboCerveja" ngModel #comboCerveja="ngModel">
            </div>

            <div class="col-md-2">
              <label for="batata" class="control-label">Batatinha Normal</label>
              <input type="number" class="form-control" id="batata" min="0" value="0" placeholder="0" name="batata"
                ngModel #batata="ngModel">
            </div>

            <div class="col-md-2">
              <label for="batataCheddar" class="control-label">Batata Cheddar Bacon</label>
              <input type="number" class="form-control" id="batataCheddar" min="0" value="0" placeholder="0"
                name="batataCheddar" ngModel #batataCheddar="ngModel">
            </div>

            <div class="col-md-2">
              <label for="refrigerante" class="control-label">Refrigerante</label>
              <input type="number" class="form-control" id="refrigerante" min="0" value="0" placeholder="0"
                name="refrigerante" ngModel #refrigerante="ngModel">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-7">
              <label for="obs" class="control-label">Observações</label>
              <input type="text" class="form-control" id="obs" name="obs" ngModel #obs="ngModel">
            </div>
            <div class="col-md-1">
              <label for="troco" class="control-label">Troco Para</label>
              <input type="number" class="form-control" id="troco" name="troco" max="999" min="{{getTotal()}}" ngModel
                #troco="ngModel">
            </div>
            <div class="col-md-1">
              <label for="vendaID" class="control-label">VendaID</label>
              <input type="number" class="form-control" id="vendaID" name="vendaID" ngModel #vendaID="ngModel"
                (click)="getVenda(f)" readonly>
            </div>

            <br>
            <div class="col-md-1 text-center">
              <br>
              <button type="button" class="btn btn-success align-bottom" (click)="vendaAction(f)"
                [disabled]="!f.valid">{{buttonNameVendaAction}}</button>
            </div>
            <div class="col-md-1 text-center">
              <br>
              <button type="button" class="btn btn-info" (click)="imprimir(f)">Imprimir</button>
            </div>
            <div class="col-md-1 text-center">
              <br>
              <button type="button" class="btn btn-secondary" (click)="limparVenda(f)">Limpar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- /////////////////////   ///////////////////// -->

      <table class="table table-hover table-bordered table-sm" *ngIf="produtos$ | async as produtos; else loadingError">
        <th class="notbold" style="width:25%;">
          <thead>

            <tr>
              <th style="text-align:center">Produto</th>
              <th style="text-align:center" colspan="2">Qtd</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let produto of listProdutosCol1">
              <td style="width:54%;">{{ produto.nome }}</td>
              <td style="width:10%; text-align:center">{{ produto.quantidade }}</td>
              <td style="width:27%; text-align:center">
                <button type="button" style="margin: 2px" class="btn btn-success" (click)="somar(produto)">+</button>
                <button type="button" style="margin: 2px" class="btn btn-danger" (click)="subtrair(produto)">-</button>
              </td>
            </tr>
        </th>
        <th class="notbold" style="width:25%;">
          <thead>

            <tr>
              <th style="text-align:center">Produto</th>
              <th style="text-align:center" colspan="2">Qtd</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let produto of listProdutosCol2">
              <td style="width:54%;">{{ produto.nome }}</td>
              <td style="width:10%; text-align:center">{{ produto.quantidade }}</td>
              <td style="width:27%; text-align:center">
                <button type="button" style="margin: 2px" class="btn btn-success" (click)="somar(produto)">+</button>
                <button type="button" style="margin: 2px" class="btn btn-danger" (click)="subtrair(produto)">-</button>
              </td>
            </tr>
        </th>
        <th class="notbold" style="width:25%;">
          <thead>

            <tr>
              <th style="text-align:center">Produto</th>
              <th style="text-align:center" colspan="2">Qtd</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let produto of listProdutosCol3">
              <td style="width:54%;">{{ produto.nome }}</td>
              <td style="width:10%; text-align:center">{{ produto.quantidade }}</td>
              <td style="width:27%; text-align:center">
                <button type="button" style="margin: 2px" class="btn btn-success" (click)="somar(produto)">+</button>
                <button type="button" style="margin: 2px" class="btn btn-danger" (click)="subtrair(produto)">-</button>
              </td>
            </tr>
          </tbody>
        </th>
        <th class="notbold" style="width:25%;">
          <thead>

            <tr>
              <th style="text-align:center">Produto</th>
              <th style="text-align:center" colspan="2">Qtd</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let produto of listProdutosCol4">
              <td style="width:54%;">{{ produto.nome }}</td>
              <td style="width:10%; text-align:center">{{ produto.quantidade }}</td>
              <td style="width:27%; text-align:center">
                <button type="button" style="margin: 2px" class="btn btn-success" (click)="somar(produto)">+</button>
                <button type="button" style="margin: 2px" class="btn btn-danger" (click)="subtrair(produto)">-</button>
              </td>
            </tr>
          </tbody>
        </th>
      </table>

      <ng-template #loadingError>
        <div *ngIf="error$ | async; else loading">
          Erro ao carregar pedidos. Tente novamente mais tarde.
        </div>
        <ng-template #loading>
          <span>Carregando Pedidos...</span>
        </ng-template>
      </ng-template>


      


      <div class="form-group">
        <div class="row">
          <div class="col-md-5">
            <label for="newObs" class="control-label">Observações</label>
            <input type="text" class="form-control" id="newObs" name="newObs" ngModel #newObs="ngModel">
          </div>
          <div class="col-md-2">
            <label for="newAdicional" class="control-label">Valor Adicional</label>
            <input type="number" class="form-control" id="newAdicional" min="0" value="0" placeholder="0"
              name="newAdicional" ngModel #newAdicional="ngModel">
          </div>
          <div class="col-md-1">
            <label for="newTroco" class="control-label">Troco Para</label>
            <input type="number" class="form-control" id="newTroco" name="newTroco" max="999" min="{{getTotal()}}" ngModel
              #newTroco="ngModel">
          </div>
          <div class="col-md-1">
            <label for="newVendaID" class="control-label">VendaID</label>
            <input type="number" class="form-control" id="newVendaID" name="newVendaID" ngModel #newVendaID="ngModel"
              (click)="getVenda(f)" readonly>
          </div>
          <div class="col-md-1 text-center">
            <br>
            <button type="button" class="btn btn-success" [disabled]="!f.valid" (click)="newSave(f)">Salvar</button>
          </div>
          <div class="col-md-1 text-center">
            <br>
            <button type="button" class="btn btn-info" (click)="newPrint(f)">Imprimir</button>
          </div>
          <div class="col-md-1 text-center">
            <br>
            <button type="button" class="btn btn-secondary" (click)="newClean(f)">Limpar</button>
          </div>
        </div>
      </div>


      <b>Teste:</b>
      {{newGet()}}

      <!-- /////////////////////   ///////////////////// -->

      <div id="printPedido">
        <font size="4">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.4.1/jquery.min.js"></script>
                    CUPOM NÃO-FISCAL
          <br>
                      Pedido ID #{{vendaID.value}}
          <br><br>
                        <img src="\..\favicon.ico" height="100" width="100">
          <br><br>
          -------- Dados do Cliente --------
          <br><br>
          <b>Nome:</b> {{nome.value}}
          <br>
          <b>Telefone:</b> {{telefone.value}}
          <br>
          <b>Rua:</b> {{rua.value}}
          <br>
          <b>Nº:</b> {{numCasa.value}}
          <br>
          <b>Bairro:</b> {{bairro.value}}
          <br>
          <b>Ponto de Ref.:</b> {{pontoReferencia.value}}
          <br><br>
          ------------- Pedido -------------
          <br><br>

          <div *ngIf="crispy.value > 0"><b>{{crispy.value}}x Deck Crispy:</b> R$ 10,00</div>
          <div *ngIf="cheddarMelt.value > 0"><b>{{cheddarMelt.value}}x Deck Cheddar Melt:</b> R$ 10,00</div>
          <div *ngIf="prime.value > 0"><b>{{prime.value}}x Deck Prime:</b> R$ 10,00</div>
          <div *ngIf="tradicional.value > 0"><b>{{tradicional.value}}x Deck Tradicional:</b> R$ 10,00</div>
          <div *ngIf="canadense.value > 0"><b>{{canadense.value}}x Deck Canadense:</b> R$ 12,00</div>
          <div *ngIf="original.value > 0"><b>{{original.value}}x Deck Original:</b> R$ 12,00</div>
          <div *ngIf="australiano.value > 0"><b>{{australiano.value}}x Deck Australiano:</b> R$ 12,00</div>
          <div *ngIf="cheddarSimples.value > 0"><b>{{cheddarSimples.value}}x Deck Cheddar Simples:</b> R$ 12,00</div>
          <div *ngIf="cheddarDuplo.value > 0"><b>{{cheddarDuplo.value}}x Deck Cheddar Duplo:</b> R$ 14,00</div>
          <div *ngIf="onions.value > 0"><b>{{onions.value}}x Onions:</b> R$ 7,00</div>
          <div *ngIf="comboRefri.value > 0"><b>{{comboRefri.value}}x Combo 1 (refri):</b> R$ 6,00</div>
          <div *ngIf="comboCerveja.value > 0"><b>{{comboCerveja.value}}x Combo 2 (Cerveja):</b> R$ 8,00</div>
          <div *ngIf="batata.value > 0"><b>{{batata.value}}x Batata Frita:</b> R$ 4,00 </div>
          <div *ngIf="batataCheddar.value > 0"><b>{{batataCheddar.value}}x Batata Cheddar Bacon:</b> R$ 6,00</div>
          <div *ngIf="refrigerante.value > 0"><b>{{refrigerante.value}}x Refri. (250 ml):</b> R$ 2,50</div>
          <div *ngIf="getEntrega() > 0"><b>Entrega:</b> R$ {{getEntrega().replace('.',',')}}</div>
          <div *ngIf="adicional.value > 0"><b>Valor Adicional:</b> R$ {{adicional.value.toFixed(2).replace('.',',')}}
          </div>
          <div *ngIf="getEntrega() == 0"><b>Entrega:</b> Grátis</div>
          <div *ngIf="obs.value !== '' && obs.value !== null"><br><b>*Obs:</b> {{obs.value}}</div>

          <br>
        </font>
        <font size="5">
          <b>TOTAL:</b> R$
          {{setTotal(adicional.value, crispy.value, cheddarMelt.value, prime.value, tradicional.value, canadense.value, original.value, australiano.value, cheddarSimples.value, cheddarDuplo.value, onions.value, comboRefri.value, comboCerveja.value, batata.value, batataCheddar.value, refrigerante.value).replace('.',',')}}
        </font>
        <br><br>
        <div *ngIf="troco.value == 0 || troco.value == '' || troco.value == null"><b>Troco:</b> Não</div>
        <div *ngIf="troco.value > 0"><b>Troco Para:</b> R$ {{troco.value.toFixed(2).replace('.',',')}}</div>
        <div *ngIf="troco.value > 0"><b>Troco (R$):</b> R$ {{getTroco(troco.value).replace('.',',')}}</div>
        <div *ngIf="getCartao()"><br><b>*Levar Maquineta</b></div>
      </div>

      <div id="pedidoCozinha">
        <font size="5">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.4.1/jquery.min.js"></script>
                 Pedido ID #{{vendaID.value}}
          <br><br>
          <b>Cliente:</b> {{nome.value}}
          <br><br>
          <b>Pedido:</b>
          <br>
          <div *ngIf="crispy.value > 0">{{crispy.value}}x Deck Crispy</div>
          <div *ngIf="cheddarMelt.value > 0">{{cheddarMelt.value}}x Deck Cheddar Melt</div>
          <div *ngIf="prime.value > 0">{{prime.value}}x Deck Prime</div>
          <div *ngIf="tradicional.value > 0">{{tradicional.value}}x Deck Tradicional</div>
          <div *ngIf="canadense.value > 0">{{canadense.value}}x Deck Canadense</div>
          <div *ngIf="original.value > 0">{{original.value}}x Deck Original</div>
          <div *ngIf="australiano.value > 0">{{australiano.value}}x Deck Australiano</div>
          <div *ngIf="cheddarSimples.value > 0">{{cheddarSimples.value}}x Deck Cheddar Simples</div>
          <div *ngIf="cheddarDuplo.value > 0">{{cheddarDuplo.value}}x Deck Cheddar Duplo</div>
          <div *ngIf="onions.value > 0">{{onions.value}}x Onions</div>
          <div *ngIf="comboRefri.value > 0">{{comboRefri.value}}x Combo 1 (refri)</div>
          <div *ngIf="comboCerveja.value > 0">{{comboCerveja.value}}x Combo 2 (Cerveja)</div>
          <div *ngIf="batata.value > 0">{{batata.value}}x Batata Frita</div>
          <div *ngIf="batataCheddar.value > 0">{{batataCheddar.value}}x Batata Cheddar Bacon</div>
          <div *ngIf="refrigerante.value > 0">{{refrigerante.value}}x Refri. (250 ml)</div>
          <div *ngIf="obs.value !== '' && obs.value !== null"><br><b>*Obs:</b> {{obs.value}}</div>
        </font>
      </div>


    </form>

    <div id="snackbarClienteExistente">Cliente já existe!</div>
    <div id="snackbarClienteInexistente">Para vender, cadastre o Cliente no sistema!</div>
    <div id="snackbarErroVenda">Adicione pelo menos um item na venda!</div>
    <div id="snackClienteAdicionado">Cliente Criado com Sucesso!</div>
    <div id="snackClienteModificado">Cliente Modificado com Sucesso!</div>
    <div id="snackbarVendaFeita">Venda Realizada com Sucesso!</div>
    <div id="snackbarErroImprimir">Para imprimir, salve a Venda!</div>
    <div id="snackbarVendaModificada">Venda Modificada com Sucesso!</div>

  </div>
  <!-- comment
   <app-form-debug [form]="f"></app-form-debug> -->
</div>