/*.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}*/

.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ng-invalid:not(form-group, form) {
    border: 1px solid red;
}