<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h4>Realizar Pedidos</h4>
    </div>
  </div>
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
      <div class="form-group" [ngClass]="aplicaCssErro(nome)">
        <div class="col-sm-12">
        </div>
        <div class="row">
          <div class="col-sm-10">
            <ng-select placeholder="Cliente" id="clientes" [items]="clientes" bindLabel="nome" required #searchBar
              (change)="searchBar.blur()" (change)="setCliente($event,f)"></ng-select>
          </div>

          <div class="col-md-1 text-center">
            <br>
            <button type="button" class="btn btn-success" (click)="clienteAction(f)"
              [disabled]="!f.valid">{{buttonNameClienteAction}}</button>
          </div>
          <div class="col-md-1 text-center">
            <br>
            <button type="button" class="btn btn-secondary" (click)="limparCliente(f)">Limpar</button>
          </div>
        </div>
      </div>

      <div ngModelGroup="cliente">

        <div class="form-group">
        </div>

        <div class="row">
          <div class="col-md-5">
            <label for="nome" class="control-label">Nome Cliente*</label>
            <input type="text" class="form-control" id="nome" name="nome" ngModel #nome="ngModel" required
              maxlength="255">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(nome)" msgErro="Nome é obrigatório.">
            </app-campo-control-erro>
          </div>
          <div class="col-md-5">
            <label for="rua" class="control-label">Rua*</label>
            <input type="text" class="form-control" id="rua" name="rua" ngModel #rua="ngModel" required maxlength="255">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(rua)" msgErro="Rua é obrigatório.">
            </app-campo-control-erro>
          </div>

          <div class="col-md-1">
            <label for="numCasa" class="control-label">Número</label>
            <input type="text" class="form-control" id="numCasa" name="numCasa" ngModel #numCasa="ngModel"
              maxlength="5">
          </div>

          <div class="col-md-1">
            <label for="id" class="control-label">ClienteID</label>
            <input type="text" class="form-control" id="id" name="id" ngModel #numero="ngModel" readonly>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <label for="bairro" class="control-label">Bairro</label>
              <input type="text" class="form-control" id="bairro" name="bairro" ngModel #bairro="ngModel"
                maxlength="255">
            </div>

            <div class="col-md-2">
              <label for="telefone" class="control-label">Telefone</label>
              <input type="text" class="form-control" id="telefone" name="telefone" ngModel #telefone="ngModel"
                [textMask]="{mask: maskPhone}" placeholder="(99) 9 9999-9999">

              <app-campo-control-erro [mostrarErro]="verificaValidTouched(telefone)" msgErro="Tel. obrigatório.">
              </app-campo-control-erro>
            </div>

            <div class="col-md-7">
              <label for="pontoReferencia" class="control-label">Ponto de Referência</label>
              <input type="text" class="form-control" id="pontoReferencia" name="pontoReferencia" ngModel
                #pontoReferencia="ngModel" maxlength="255">
            </div>
          </div>
        </div>
      </div>
      <font size="1">*Campos Obrigatórios</font>
      <hr>
      <font size="4">
      <div class="row">
        <div class="col-md-2">
          
            <b>TOTAL:</b> R$
            <label
              id="total">{{setTotal(tradicional.value, canadense.value, original.value, australiano.value, cheddarSimples.value, cheddarDuplo.value, onions.value, comboRefri.value, comboCerveja.value, batata.value, batataCheddar.value, refrigerante.value)}}</label>         
        </div>

        <div class="col-md-1" style="border-right: 1px solid">
        
        </div>

        <div class="col-md-6">
             <b>Entrega:  </b>         
          <input type="radio" id="cidade" name="entrega" value="Cidade" checked (click)="setEntrega(1)"> 
          <label for="cidade">Cidade (R$ 1,00)</label>   -   
          <input type="radio" id="zonaRural" name="entrega" value="Zona Rural" (click)="setEntrega(2)"> 
          <label for="zonaRural">Zona Rural (R$ 2,00)</label>   -   
          <input type="radio" id="gratis" name="entrega" value="Grátis" (click)="setEntrega(0)"> 
          <label for="gratis">Grátis</label>
        </div>        

        <div class="col-md-1" style="border-left: 1px solid">

        </div>

        <div class="col-md-2">
          <div class="form-check">
            <input type="checkbox" style="margin-top: .5rem;" class="form-check-input" id="checkCartao" (click)="checkCartao()">
            <label class="form-check-label" for="checkCartao">Cartão</label>
          </div>  
        </div>
      </div>
    </font>
      <hr>

      <div ngModelGroup="itemsVenda">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="tradicional" class="control-label">Deck Tradicional</label>
              <input type="number" class="form-control" id="tradicional" min="0" value="0" placeholder="0"
                name="tradicional" ngModel #tradicional="ngModel">
            </div>

            <div class="col-md-2">
              <label for="canadense" class="control-label">Deck Canadense</label>
              <input type="number" class="form-control" id="canadense" min="0" value="0" placeholder="0"
                name="canadense" ngModel #canadense="ngModel">
            </div>

            <div class="col-md-2">
              <label for="original" class="control-label">Deck Original</label>
              <input type="number" class="form-control" id="original" min="0" value="0" placeholder="0" name="original"
                ngModel #original="ngModel">
            </div>

            <div class="col-md-2">
              <label for="australiano" class="control-label">Deck Australiano</label>
              <input type="number" class="form-control" id="australiano" min="0" value="0" placeholder="0"
                name="australiano" ngModel #australiano="ngModel">
            </div>

            <div class="col-md-2">
              <label for="cheddarSimples" class="control-label">Deck Cheddar Simples</label>
              <input type="number" class="form-control" id="cheddarSimples" min="0" value="0" placeholder="0"
                name="cheddarSimples" ngModel #cheddarSimples="ngModel">
            </div>

            <div class="col-md-2">
              <label for="cheddarDuplo" class="control-label">Deck Cheddar Duplo</label>
              <input type="number" class="form-control" id="cheddarDuplo" min="0" value="0" placeholder="0"
                name="cheddarDuplo" ngModel #cheddarDuplo="ngModel">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="onions" class="control-label">Onions</label>
              <input type="number" class="form-control" id="onions" min="0" value="0" placeholder="0" name="onions"
                ngModel #onions="ngModel">
            </div>

            <div class="col-md-2">
              <label for="comboRefri" class="control-label">Combo de Refri</label>
              <input type="number" class="form-control" id="comboRefri" min="0" value="0" placeholder="0"
                name="comboRefri" ngModel #comboRefri="ngModel">
            </div>

            <div class="col-md-2">
              <label for="comboCerveja" class="control-label">Combo de Cerveja</label>
              <input type="number" class="form-control" id="comboCerveja" min="0" value="0" placeholder="0"
                name="comboCerveja" ngModel #comboCerveja="ngModel">
            </div>

            <div class="col-md-2">
              <label for="batata" class="control-label">Batatinha Normal</label>
              <input type="number" class="form-control" id="batata" min="0" value="0" placeholder="0" name="batata"
                ngModel #batata="ngModel">
            </div>

            <div class="col-md-2">
              <label for="batataCheddar" class="control-label">Batata Cheddar Bacon</label>
              <input type="number" class="form-control" id="batataCheddar" min="0" value="0" placeholder="0"
                name="batataCheddar" ngModel #batataCheddar="ngModel">
            </div>

            <div class="col-md-2">
              <label for="refrigerante" class="control-label">Refrigerante</label>
              <input type="number" class="form-control" id="refrigerante" min="0" value="0" placeholder="0"
                name="refrigerante" ngModel #refrigerante="ngModel">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-7">
              <label for="obs" class="control-label">Observações</label>
              <input type="text" class="form-control" id="obs" name="obs" ngModel #obs="ngModel">
            </div>
            <div class="col-md-1">
              <label for="troco" class="control-label">Troco Para</label>
              <input type="number" class="form-control" id="troco" name="troco" max="999" min="{{getTotal()}}" ngModel #troco="ngModel">
            </div>
            <div class="col-md-1">
              <label for="vendaID" class="control-label">VendaID</label>
              <input type="number" class="form-control" id="vendaID" name="vendaID" ngModel #vendaID="ngModel" readonly>
            </div>

            <br>
            <div class="col-md-1 text-center">
              <br>
              <button type="button" class="btn btn-success align-bottom" (click)="vendaAction(f)"
                [disabled]="!f.valid">{{buttonNameVendaAction}}</button>
            </div>
            <div class="col-md-1 text-center">
              <br>
              <button type="button" class="btn btn-info" (click)="imprimir(f)">Imprimir</button>
            </div>
            <div class="col-md-1 text-center">
              <br>
              <button type="button" class="btn btn-secondary" (click)="limparVenda(f)">Limpar</button>
            </div>
          </div>
        </div>
      </div>

      <div id="printPedido">
        <font size="4">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.4.1/jquery.min.js"></script>
                    CUPOM NÃO-FISCAL
          <br><br>
                        <img src="\..\favicon.ico" height="100" width="100"> 
          <br><br>
          -------- Dados do Cliente --------
          <br><br>
          <b>Nome:</b> {{nome.value}}
          <br>
          <b>Telefone:</b> {{telefone.value}}
          <br>
          <b>Rua:</b> {{rua.value}}
          <br>
          <b>Nº:</b> {{numCasa.value}}
          <br>
          <b>Bairro:</b> {{bairro.value}}
          <br>
          <b>Ponto de Ref.:</b> {{pontoReferencia.value}}
          <br><br>
          ------------- Pedido -------------
          <br><br>
          <div *ngIf="tradicional.value > 0"><b>{{tradicional.value}}x Deck Tradicional:</b> R$ 10,00</div>
          <div *ngIf="canadense.value > 0"><b>{{canadense.value}}x Deck Canadense:</b> R$ 12,00</div>
          <div *ngIf="original.value > 0"><b>{{original.value}}x Deck Original:</b> R$ 12,00</div>
          <div *ngIf="australiano.value > 0"><b>{{australiano.value}}x Deck Australiano:</b> R$ 12.00</div>
          <div *ngIf="cheddarSimples.value > 0"><b>{{cheddarSimples.value}}x Deck Cheddar Simples:</b> R$ 12.00
          </div>
          <div *ngIf="cheddarDuplo.value > 0"><b>{{cheddarDuplo.value}}x Deck Cheddar Duplo:</b> R$ 14,00</div>
          <div *ngIf="onions.value > 0"><b>{{onions.value}}x Onions:</b> R$ 7,00</div>
          <div *ngIf="comboRefri.value > 0"><b>{{comboRefri.value}}x Combo 1 (refri):</b> R$ 5,00</div>
          <div *ngIf="comboCerveja.value > 0"><b>{{comboCerveja.value}}x Combo 2 (Cerveja):</b> R$ 7,00</div>
          <div *ngIf="batata.value > 0"><b>{{batata.value}}x Batata Frita:</b> R$ 3,50 </div>
          <div *ngIf="batataCheddar.value > 0"><b>{{batataCheddar.value}}x Batata Cheddar Bacon:</b> R$ 6,00</div>
          <div *ngIf="refrigerante.value > 0"><b>{{refrigerante.value}}x Refrigerante (250 ml):</b> R$ 2,00</div>
          <div *ngIf="getEntrega() > 0"><b>Entrega:</b> R$ {{getEntrega()}}</div>
          <div *ngIf="getEntrega() == 0"><b>Entrega:</b> Grátis</div>
          <div *ngIf="obs.value !== ''"><br><b>*Obs:</b> {{obs.value}}</div>
          <br>
        </font>
        <font size="5">
          <b>TOTAL:</b> R$
          {{setTotal(tradicional.value, canadense.value, original.value, australiano.value, cheddarSimples.value, cheddarDuplo.value, onions.value, comboRefri.value, comboCerveja.value, batata.value, batataCheddar.value, refrigerante.value)}}
        </font>
        <br><br>
        <div *ngIf="troco.value == 0"><b>Troco:</b> Não</div>
        <div *ngIf="troco.value > 0"><b>Troco Para:</b> R$ {{troco.value.toFixed(2)}}</div>
        <div *ngIf="troco.value > 0"><b>Troco (R$):</b> R$ {{getTroco(troco.value)}}</div>
        <div *ngIf="getCartao()"><br><b>*Levar Maquineta</b></div>
      </div>
    </form>

    <div id="snackbarClienteExistente">Cliente já existe!</div>
    <div id="snackbarClienteInexistente">Para vender, cadastre o Cliente no sistema!</div>
    <div id="snackbarErroVenda">Adicione pelo menos um item na venda!</div>
    <div id="snackClienteAdicionado">Cliente Criado com Sucesso!</div>
    <div id="snackClienteModificado">Cliente Modificado com Sucesso!</div>
    <div id="snackbarVendaFeita">Venda Realizada com Sucesso!</div>
    <div id="snackbarErroImprimir">Para imprimir, salve a Venda!</div>
    <div id="snackbarVendaModificada">Venda Modificada com Sucesso!</div>
    
  </div>
  <!-- comment
   <app-form-debug [form]="f"></app-form-debug> -->
</div>