<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Deck System</a>
    </div>

    <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/templateForm">Realizar Venda</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/vendas">Visualizar Vendas</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dataForm">Data Form</a>
        </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>