
body {
    background-color: #ededed;
}

.container-card {
    width: 100%;
    min-width: 1280px;
    padding: 15px !important;
    margin: 0px !important;
  } 

.navbar {
    width: 100%;
    min-width: 1280px;
    margin-bottom: 0%;
}
