<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Deck System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/templateForm" class="text-light"><strong>Realizar Venda</strong></a>
      </li>
      <li>
        <strong><a class="text-light">  |  </a></strong>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/produtos" class="text-light"><strong>Produtos</strong></a>
      </li>
      <li>
        <strong><a class="text-light">  |  </a></strong>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/clientes" class="text-light"><strong>Clientes</strong></a>
      </li>
      <li>
        <strong><a class="text-light">  |  </a></strong>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/vendas" class="text-light"><strong>Vendas</strong></a>
      </li>
      <li>
        <strong><a class="text-light">  |  </a></strong>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/print" class="text-light"><strong>Mensagem</strong></a>
      </li>
      <li>
        <strong><a class="text-light">  |  </a></strong>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/reports" class="text-light"><strong>Reports</strong></a>
      </li>
    </ul>
  </div>
</nav>
<body>
  <div class="container-card">
      <router-outlet></router-outlet>
  </div>
</body>