body {
    background-color: black !important;
  }
  
  th {
    text-align: center;
  }
  
  td {
    font-weight: normal;
    text-align: center;
    padding: 8px;
  }
  
  .notbold {
    font-weight:normal;
  }
  
  .card {
    width: 100%;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .container-colunas {
    display: flex;
  }
  
  .table {
    display: flex;
    justify-content: center;
  }
  
  .coluna-id {
    min-width: 30px;
  }
  
  .coluna-nome {
    min-width: 200px;
  }
  
  .coluna-tipo {
    min-width: 150px;
  }
  
  .coluna-posicao {
    min-width: 70px;
  }
  
  .coluna-preco {
    min-width: 10px;
  }
  
  .th-table {
    display: block;
  }

  .input-posicao, .input-preco .input-nome {
    width: 100%;
  }

  .select-tipo {
    min-width: 100%;
  }

  .input-posicao, .input-preco {
    max-width: 70px;
  }
